*/*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: start;
    background: linear-gradient(to left,purple,indigo,violet);

}
.main{
    text-align: center;
    font-size: 25px;
    background: linear-gradient(to left,orange,red,crimson);
    padding:50px;
    border: 10px inset grey;
    color: yellow;
    border-radius: 15px;
}
input{
    width:65vw;
    height:40px;
    border:5px solid blueviolet;
    background: radial-gradient(circle,cyan,teal);
    font-size: 25px;
    color:aquamarine;
    font-weight: bold;
    border-style: outset;
    border-radius: 11px;
}
button{
    font-size: 30px;
    gap:10px;
    width:150px;
    background: radial-gradient(circle,orange,pink);
    border-radius: 1rem;
    color:red;
    font-weight: bold;
    cursor: pointer;
    border:2px inset saddlebrown;
}
table{
    width:100%;
}
thead,tr{
    color:darkgreen;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: lightslategrey;
}*/
