body {

  margin: 0;

  font-family: Arial;

  background-color: #f3f4f6;
}

.container {

  text-align: center;

  padding: 20px;
}

.card-container {

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  gap: 20px;
}

.profile {

  width: 320px;

  background: white;

  padding: 20px;

  border-radius: 14px;

  text-align: center;

  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.profile-img {

  width: 120px;

  height: 120px;

  border-radius: 50%;

  object-fit: cover;

  cursor: pointer;

  margin-bottom: 15px;
}

.edit-input {

  padding: 10px;

  width: 80%;

  margin-bottom: 10px;
}

.btn-group {

  display: flex;

  justify-content: center;

  gap: 10px;

  flex-wrap: wrap;

  margin-top: 15px;
}

button {

  border: none;

  padding: 10px 18px;

  border-radius: 8px;

  cursor: pointer;

  color: white;
}

.follow-btn {

  background-color: #007bff;
}

.edit-btn {

  background-color: orange;
}

.delete-btn {

  background-color: crimson;
}

.top-section {

  display: flex;

  justify-content: center;

  gap: 10px;

  margin-bottom: 25px;

  flex-wrap: wrap;
}

.top-section input {

  padding: 12px;

  width: 220px;

  border-radius: 8px;

  border: 1px solid #ccc;
}

.top-section button {

  background-color: black;

  color: white;

  border: none;

  padding: 12px 20px;

  border-radius: 8px;

  cursor: pointer;
}

.top-section button:disabled {

  background-color: gray;

  cursor: not-allowed;

  opacity: 0.7;
}