/*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left,orange,crimson);
    text-align: center;
    line-height: 1.5;
}
.main{
    display:flex;
    justify-content:space-evenly;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
}
input {
  display: block;
  margin: 20px auto;
  padding: 5px;
  font-size: 20px;
  width: 50%;
  border-radius: 5px;
  border: 3px solid aqua;
}
h1{
    Color:darkgreen;
    font-weight: bold;
}
.BrowserRouter{
    display:flex;
}
button{
  padding: 8px 12px;
  margin: 5px;
  border: none;
  background:linear-gradient(to left,indigo,purple);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width:125px;
  color:gold;
  font-weight:bold;
}
button:hover{
    color:red;
    background: lavender;
}
img{
    width:100%;
    object-fit: cover;
}
h3 {
  margin: 10px 0 5px;
  color:yellowgreen;
}

p {
  color: darkturquoise;
  font-size: 24px;
}*/

